/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
}

main {
    padding-top: 20px;
    max-width: 1000px;
    margin: 70px auto;
    padding-right: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: -5px 7px 25px 0px #00000041;
}
/*Header and Description*/
h1 {
    font-family: "Inter", serif;
    font-size: 50px;
    text-align: center;
}

p {
    padding-bottom: 50px;
    text-align: center;
}